{% extends 'auth.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="space-y-6">
    <div class="divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm dark:divide-gray-700 dark:border-gray-700 dark:bg-gray-800">
        <div class="flex items-center gap-8 p-6 sm:items-start lg:items-center">
            <h2 class="text-white">Bem vindo</h2>
            
        </div>
    </div>
</div>

          
{% endblock %}
