@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

body {
    background-color: lightgray;
}

.dark body {
    background-color: #1f2937; /* gray-800 do Tailwind */
    color: white;
}