{% extends 'base.html.twig' %}

{% block title %}Bem Vindo(a)!{% endblock %}

{% block body %}

    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
                Programa de Pontos
            </a>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Cadastrar
                    </h1>
                    
                    <form id="register-form" class="space-y-4 md:space-y-6" action="{{ path('app_register') }}" method="POST">
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seu Nome</label>
                            <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Seu Nome" required="">
                        </div>
                        <div>
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seu Telefone</label>
                            <input type="text" name="phone" id="phone"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                maxlength="15" placeholder="(99) 99999-9999" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sua Senha</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        <div>
                            <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
                            <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="terms" class="font-light text-gray-500 dark:text-gray-300">Li e aceito <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="#">Termos de uso.</a></label>
                            </div>
                        </div>
                        <div id="error-message"></div>
                         {% if app.request.query.get('error') %}
                            <div class="bg-red-100 text-red-700 p-3 rounded-lg mb-4">
                                {{ app.request.query.get('error') }}
                            </div>
                        {% endif %}
                        <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Criar Conta
                        </button>
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Já possui cadastro? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Entre Aqui</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
<script>
document.addEventListener("DOMContentLoaded", function () {
    const phoneInput = document.getElementById("phone");

    phoneInput.addEventListener("input", function (e) {
        let phone = e.target.value.replace(/\D/g, "");

        if (phone.length > 11) {
            phone = phone.substring(0, 11);
        }

        if (phone.length > 10) {
            phone = phone.replace(/^(\d{2})(\d{5})(\d{4})$/, "($1) $2-$3");
        } else if (phone.length > 5) {
            phone = phone.replace(/^(\d{2})(\d{4})(\d{0,4})$/, "($1) $2-$3");
        } else if (phone.length > 2) {
            phone = phone.replace(/^(\d{2})(\d{0,5})$/, "($1) $2");
        } else {
            phone = phone.replace(/^(\d{0,2})$/, "($1");
        }

        e.target.value = phone;
    });

    /*
    document.getElementById("register-form").addEventListener("submit", async function (event) {
        event.preventDefault(); // Impede o envio tradicional do formulário
        
        const form = event.target;
        const formData = new FormData(form);
        const errorMessageDiv = document.getElementById("error-message");

        try {
            const response = await fetch(form.action, {
                method: "POST",
                body: formData
            });

            const data = await response.json();

            if (!response.ok) {
                console.log(data, 'data')
                console.log()
                errorMessageDiv.classList = 'class="bg-red-100 text-red-700 p-3 rounded-lg mb-4'
                errorMessageDiv.textContent = data.error || "Ocorreu um erro inesperado.";
                //errorMessageDiv.classList.remove("hidden");
            } else {
                // Redirecionar após cadastro bem-sucedido
                window.location.href = "/auth";
            }
        } catch (error) {
            errorMessageDiv.textContent = "Erro de conexão. Tente novamente.";
            errorMessageDiv.classList.remove("hidden");
        }
    });
    */
});
</script>
{% endblock %}
